.card {
    width: 250px;
    padding: 0px 20px;
    margin: 10px 3px;
    border-radius: 5px;
    

    .header {
        margin: 1rem 2rem;
        text-align: center;
    }
    
    .avatar {
        width: 10rem;
        height: 10rem;
        border-radius: 3px;
        margin: 0 auto;
        display: block;
    }
    
    .subheader {
        text-align: center;
    }
    
    .link {
        text-align: center;
    }
}
